/* Global styles for all the pages*/
:root {
    /*
        The default font-size is 16px. So we start with
        60% of 16px = 9.6px 
    */
    font-size: 60%;
    /* ==== Variables for colors ==== */
    --color-background: #F0F0F7;
    --color-primary-lighter: #9871F5;
    --color-primary-light: #916BEA;
    --color-primary: #8257E5;
    --color-primary-dark: #774DD6;
    --color-primary-darker: #6842C2;
    --color-secondary: #04D361;
    --color-secondary-dark: #04BF58;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #D4C2FF;
    --color-text-title: #32264D;
    --color-text-complement: #9C98A6;
    --color-text-base: #6A6180;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-input-background-focus: #8c8cf5;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, #root {
    /* This will make the page fill all the user viewport */
    height: 100vh;
}

body {
    background-color: var(--color-background);
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ==== Fonts ==== */
body,
input,
button,
textarea {
    font: 500 1.6rem Poppins; /* 1rem now is equal to 9.6px. Now the font-size is more dynamical */
}

/* ==== Container ==== */
.container {
    width: 90vw;
    max-width: 700px;
}

/* ==== Responsivity ==== */
@media (min-width: 700px) {
    :root { 
        /* 
            Here the mobile website
            will set the font as 62,5%
            of 16px = 10px. So this means 
            that 1rem now is gonna be equal
            to 10px 
        */
        font-size: 62.5%;
    }
}